.container{
  max-width: 1200px;
  width: 100%;
}

.flex__center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.section__padding {
  padding: 7rem 6rem;
}

.p__inter{
  font-family: var(--font-alt);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #A1A1AA;
}

.p__ibm_plex{
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #71717A;
}

.headText{
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  color: #FFFFFF;
}