@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&family=Inter:wght@300;400;500&display=swap');

:root {
  --font-base : 'IBM Plex Sans', sans-serif;
  --font-alt : 'Inter', sans-serif;

  --gradient : linear-gradient(to right, #6DDCFF, #7F60F9);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000;
}

a{
  color: #fff;
  text-decoration: none;
}